/* table layout responsive */
@media only screen and (max-width: 834px) {
  .container {
    width: 734px;
  }
  .view-all {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* banner area start */
  #top-banner {
    height: 398px;
  }
  .top-banner .w-half {
    justify-content: end;
  }
  .banner-left-area {
    height: 276px;
    width: 316px;
    border-radius: 5px;
    justify-content: space-between;
  }
  .banner-left-area h3 {
    height: 150px;
    width: 289px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
  }
  .banner-left-area p {
    height: 48px;
    width: 316px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: -25px;
  }
  .banner-left-area button {
    height: 48px;
    width: 161px;
    border-radius: 5px;
    padding: 12px;
  }
  .banner-right-area {
    position: relative;
  }
  .banner-right-image-container {
    width: 323px;
    height: 340px;
    position: absolute;
    bottom: 0;
  }
  /* banner area ends */

  /* --------------------
-----------------------
-----------------------
-----------------------
*/
  /* blog area start */
  .body-blog-container {
    flex-direction: column;
  }
  .blog-left-area {
    height: unset;
    width: 100%;
    background: unset;
  }
  .blog-left-area-button {
    flex-direction: row;
    width: 100%;
    height: 70px;
  }
  .blog-left-area-button a {
    border: 1px solid #e8e8e8;
    width: 230px;
  }
  .blog-right-area {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 15px;
  }
  /* blog area ends */
  /* --------------------
-----------------------
-----------------------
-----------------------
*/
  /* footer start */
  .footer-bottom {
    flex-wrap: wrap;
  }
  /* footer ends */
}

/* mobile layout responsive */
@media only screen and (max-width: 375px) {
  .container {
    width: 334px;
  }
  .top-banner .w-half {
    width: 100%;
    justify-content: center;
  }
  /* banner area start */
  #top-banner {
    height: 472px;
  }
  .top-banner > .flex {
    flex-direction: column;
  }
  .banner-left-area {
    height: 178px;
    width: 258px;
    padding-top: 50px;
  }
  .banner-left-area h3 {
    height: 66px;
    width: 258px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
  }
  .banner-left-area p {
    height: 48px;
    width: 258px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 20px;
  }
  .banner-left-area button {
    height: 40px;
    width: 161px;
    align-self: center;
  }
  .banner-right-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-right-image-container {
    height: 245px;
    width: 233px;
    position: absolute;
    top: 50px;
    left: 70px;
  }
  /* banner area ends */
  /* --------------------
-----------------------
-----------------------
-----------------------
*/
  /* blog area start */
  #body-blog {
    margin-top: 50px;
  }
  .body-blog-container {
    flex-direction: column;
    align-items: center;
  }
  .blog-left-area {
    height: 176px;
    width: 210px;
  }
  .blog-left-area-button {
    flex-direction: column;
    height: 100%;
  }
  .blog-left-area-button a {
    height: 48px;
    width: 210px;
  }
  .blog-right-area {
    grid-template-columns: repeat(1, 1fr);
  }
  /* blog area ends */
  /* --------------------
-----------------------
-----------------------
-----------------------
*/
  /* footer start */
  footer {
    height: 412px;
    width: 375px;
  }
  .footer-bottom {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;
    margin-top: 20px;
  }
  .footer-top h1 {
    padding-bottom: unset;
  }
}
